a {
  text-decoration: none;
}
header{
  background-color: #222;
  height : 36px;
  padding-left: 16px;
  padding-top:8px ;
  padding-right: 32px;
  padding-bottom:8px ;
  
}
.rotate{
  animation: app-logo-spin infinite 8s linear;
    height: 35px;
    background: #ff7f7f;
    float: left;
}

